Click==7.0
Flask==1.1.1
flask-jwt-oidc==0.1.5
Flask-OpenTracing==1.0.0
Flask-SQLAlchemy==2.4.0
itsdangerous==1.1.0
Jinja2==2.10.1
MarkupSafe==1.1.1
opentracing==2.0.0
pkg-resources==0.0.0
Werkzeug==0.15.5
-e git://github.com/pwei1018/jaeger-client-python.git@186f14e14758273ed108508c0d388a4f4de5c75b#egg=jaeger-client